td {
  padding: 20px;
}

h2 {
  text-decoration: underline;
}


ul {
  list-style-type: none;
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 3em;
}


ul li a {
  color: gray;
}

ul li a:hover {
  color: #3498db;
}

body {
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;
  background-color: #F2F2F2;
  margin: 0;
}

a {
  text-decoration: none;
  color: #3498db;
}


#logo {
  border-radius: 50%;
  height: 20%;
}

.container {
  width: 800px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


.heart-color {
  color: black;
}

.image-round {
  border-radius: 20%;
  height: 30%;

}

.header {
  padding: 50px;
  border-radius: 3px;
  background-color: #3498db;
  opacity: .8;
}

.social-media {
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  border-radius: 3px;


}

.courses {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 3px;


}

.card {
box-shadow: 1px 2px 2px rgba(0,0,0, 0.1);

}

.footer {
  margin-top: 40px;
  padding: 10px;
  border-radius: 3px;
  background: #3498db;
}


.short-table {
  height: 50px;
}

.dollar-size {
  font-size: 1em;
}
